.container{
  display: BLOCK;
  width: 500px;
  background-color: aqua;
  justify-content: center;
  border-radius: 20px;
  padding: 20px;
}
input{
  
  justify-content: center;
  margin-top: 20px;
  height: 100px;
  width: 450px;
  text-align: END;
  font-size: larger;
  font-weight: bold;
  background-color: #D3D3D3;
  margin-bottom: 20px;
  border-radius: 10px;


}
#key{
  display: grid;
  grid-template-columns: repeat(4);
  justify-content: center;
  align-items: center;
  
}
button{
 
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: none;
  background-color: #004080;
  color: white;
  font-size: 25px;
  font-weight: bold;
  margin: 10px 10px;
}